p,
div {
  font-family: Lato;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(7, 7, 7);
}
.page-wrapper {
  height: 180vh;
  background: lightblue;
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(7, 7, 7);
  position: absolute;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  max-width: 80%;
  min-width: 100px;
  min-height: 350px;
  padding: 20px 40px;
  border-radius: 21px;
  background-color: #fbfbfb;
}

.form-find-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  max-width: 80%;
  min-width: 100px;
  min-height: 350px;
  padding: 20px 40px;
  border-radius: 21px;
  background-color: #ffffff;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  max-width: 80%;
  min-width: 100px;
  min-height: 350px;
  padding: 20px 40px;
  border-radius: 21px;
  background-color: #ffffff;
}
.form-wrapper > h2 {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: #222;
}
form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.info {
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
label {
  margin-bottom: 0.5em;
  color: #444;
  font-weight: lighter;
}
input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d6d1d5;
}
input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #bbb;
}
button:hover {
  background-color: #4a4e69;
  color: #fefefe;
}
.error {
  color: #db2269;
  font-size: 0.5em;
  display: relative;
}

.name,
.lastname,
.email,
.password,
.brithDate {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.name,
.lastname,
.email,
.password,
.brithDate {
  width: 100%;
}
.submit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.buttonSubmit {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 0.5em;
  padding: 0.938em;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, rgb(71, 118, 230), rgb(142, 84, 233));
  color: rgb(254, 254, 254);
}
.buttonSignUp{
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 0.5em;
  padding: 0.938em;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, rgb(65 222 160), rgb(107 153 236));
  color: rgb(254, 254, 254);
}
.buttonBack{
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 0.5em;
  padding: 0.938em;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, rgb(212 220 217), rgb(169 169 169));
  color: rgb(254, 254, 254);
}


.divSubmit {
  padding-bottom: 25px;
  width: 100%;
  padding-top: 25px;
}

.textLogin {
  text-align: center;
  margin-top: auto;
}

.cardBooking {
  padding-bottom: 48px;
}

.divBooking {
  padding-left: 20px;
  padding-bottom: 10px;
}

.buttonCancel {
  min-width: 70%;
  cursor: pointer;
  min-height: 30px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, rgb(71, 118, 230), rgb(142, 84, 233));
  color: rgb(254, 254, 254);
}

.layer1 {
  margin-right: 24px;
  margin-left: 24px;
  border-radius: 19px;
  max-width: 89%;
  min-width: 50%;
}

.layer2 {
  max-width: 100%;
  padding: 40px;
  text-align: center;
}

.leyer {
  padding: 0px 30px;
}

.buttonSubmitSearch {
  min-width: 70%;
  cursor: pointer;
  min-height: 43px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, rgb(71, 118, 230), rgb(142, 84, 233));
  color: rgb(254, 254, 254);
}

.divSubmitSearch {
  text-align: center;
  margin-top: -60px;
  padding-bottom: 25px;
  width: 100%;
  padding-top: 25px;
}

.divLayer {
  margin-right: 24px;
  margin-left: 24px;
  border-radius: 19px;
  max-width: 90%;
}
.noData {
  padding : 120px;
}

.divLayer2 {
  max-height: 500px;
  overflow-y: scroll;
  padding: 15px;
  border-left: 1px solid rgba(128, 128, 128, 0.21);
}

.divRenderHotel {
  padding-bottom: 15px;
}

.imgSize {
  max-width: 100%;
  height: 300px;
  width: fit-content;
}

.fieldSearch {
  height: 100px;
}
